@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background-color: #000000;
}
*::-webkit-scrollbar {
    width: 6px;
  }
  
*::-webkit-scrollbar-track {
    background-color: #1a1a1a;
    border-radius: 6px;
}

*::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 6px;
}

